@model BookModel

@{
    ViewData["Title"] = "Adding Book";
}

<div class="container">
    <p>Random quote:</p>
    <p>@ViewBag.RandomQuote</p>
</div>

<form asp-controller="Book" asp-action="Create" method="post" class="m-auto col-4">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-floating my-3">
        <input class="form-control" asp-for="Title" placeholder="Book Title">
        <label asp-for="Title"></label>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" asp-for="PublisherName" placeholder="Ranok"> 
        <label asp-for="PublisherName"></label>
        <span asp-validation-for="PublisherName" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" asp-for="PublishingYear">
        <label asp-for="PublishingYear"></label>
        <span asp-validation-for="PublishingYear" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" asp-for="Rating">
        <label asp-for="Rating"></label>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" asp-for="Price">
        <label asp-for="Price"></label>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" asp-for="PagesAmount">
        <label asp-for="PagesAmount"></label>
        <span asp-validation-for="PagesAmount" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" id="FirstName" asp-for="Author.FirstName" placeholder="Taras">
        <label for="Auhtor_FirstName">Author`s First Name:</label>
        <span asp-validation-for="Author.FirstName" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" asp-for="Author.LastName" placeholder="Shevchenko">
        <label for="Author_LastName">Author`s Last Name:</label>
        <span asp-validation-for="Author.LastName" class="text-danger"></span>
    </div>

    <div class="form-check">
        <input class="form-check-input" asp-for="IsOnAuction">
        <label class="form-check-label" asp-for="IsOnAuction"></label>
    </div>

    <div class="container float-end">
        <button type="submit" class="btn btn-outline-success float-end">Create</button>
    </div>
</form>
