@{
    ViewData["Title"] = "Download Page";
}

<form asp-action="Download" asp-controller="Book" method="post" class="m-auto col-4">
    <div class="form-floating">
        <select class="form-select my-3" asp-items="@ViewBag.DownloadOptions" id="BookSelector" name="BookId" aria-label="Book Selector:"></select>
    </div>
    <div class="container">
        <button class="btn btn-outline-success float-end">Download</button>
    </div>
</form>